<div class="parent">
    <div class="left">
        <h1>My Web App</h1>
        <ul>
            <li routerLink="home">Home</li>
            <li routerLink="welcome">Welcome</li>
            <li routerLink="data-binding">Data binding</li>
            <li routerLink="calculator">Calculator</li>
            <li routerLink="directives">Directives</li>
            <li routerLink="event-registration">Event Registration</li>
            <li routerLink="employees">employees</li>
            <li routerLink="vehicles">vehicles</li>
            <li routerLink="contact-ceo">Contact Ceo</li>
            <li routerLink="payment/upi">upi payment</li>
            <li routerLink="payment/card">card payment</li>
        </ul>
        <button routerLink="/login">logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>